  
      <div class="flex-shrink-0 p-3" style="width: 280px;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
          <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-5 fw-semibold">    <img src="{{ url_for('static', filename='logo.png')}}" alt="" width = 100% >
          </span>
        </a>
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Home
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                <li><a href="/about" class="link-body-emphasis d-inline-flex text-decoration-none rounded">About</a></li>
                <li><a href="/s1" class="link-body-emphasis d-inline-flex text-decoration-none rounded">S1. Happiness & Time </a></li>
                <li><a href="/s2" class="link-body-emphasis d-inline-flex text-decoration-none rounded">S2. Happiness & Location </a></li>
                <li><a href="/s3" class="link-body-emphasis d-inline-flex text-decoration-none rounded">S3. Discover Influential Factors</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Scenario 1
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/s1" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                <li><a href="/s1/#s1.1" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Scenario 1.1</a></li>
                <li><a href="/s1/#s1.2" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Scenario 1.2</a></li>
                <li><a href="/s1/#s1.3" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Scenario 1.3</a></li>
    
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              Scenario 2
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/s2" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                <li><a href="/s2/#s2.1" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Scenario 2.1</a></li>
                <li><a href="/s2/#s2.2" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Scenario 2.2</a></li>
                <li><a href="/s2/#s2.3" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Scenario 2.3</a></li>
                <li><a href="/s2/#s2.4" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Scenario 2.4</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Scenario 3
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/s3" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                <li><a href="/s3/#s3.1" class="link-dark d-inline-flex text-decoration-none rounded">Scenario 3.1</a></li>
                <li><a href="/s3/#s3.2" class="link-dark d-inline-flex text-decoration-none rounded">Scenario 3.2</a></li>
                <li><a href="/s3/#s3.3" class="link-dark d-inline-flex text-decoration-none rounded">Scenario 3.3</a></li>
              </ul>
            </div>
          </li>
        
        </ul>
      </div>
    