.container{
    width: 1000px;
    margin-left: 20%;
}

a {
    text-decoration: none;
    color:black
  }

  a:hover {
    font-size: 1.1em; 
  }

  .histogram{
    width: auto;
    height: auto;
  }

  .Line{
    width: auto;
    height: auto;
  }


.s2_1{
    background-color: #F6F6F6; 
    padding: 20px; 
    text-align: center;
    margin-top: 2%
}
h2{
font-family: 'Arial Black', 
sans-serif; font-size: 24px; 
color: #c57b57; 
margin-bottom: 10px;
}
#key{
    font-family: 'Verdana', 
    sans-serif; font-size: 20px; 
    color: #c57b57; 
    margin-bottom: 10px;}

span{
    font-weight: bold;
}
#au{
    height: 100px;
    width: 100px;
}

.s2_2{
    background-color: #F6F6F6; 
    padding: 20px; 
    text-align: center;
    margin-top: 2%
}

#head{
    font-size: 30px;
}

.s2_3{
    background-color: #F6F6F6; 
    padding: 20px; 
    text-align: center;
    margin-top: 2%
}

#key_yellow{
    color:orange
}

