.s3_1{
    background-color: #F6F6F6; 
    padding: 20px; 
    text-align: center;
    margin-top: 2%
}


#key_normal{
    color: #c57b57;
}


.s3_2{
    background-color: #F6F6F6; 
    padding: 20px; 
    text-align: center;
    margin-top: 2%
}

.s3_3{
    background-color: #F6F6F6; 
    padding: 20px; 
    text-align: center;
    margin-top: 2%
}
