<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Emoji Changer</title>
</head>
<body>
    <h1>Emoji Changer</h1>
    <h2 id="emoji">{{ emoji }}</h2>
    <script>
        function changeEmoji() {
            var emojiElem = document.getElementById('emoji');
            var currentEmoji = emojiElem.innerHTML;
            var newEmoji = '{{ emoji }}';
            while (newEmoji === currentEmoji) {
                newEmoji = '{{ emoji }}';
            }
            emojiElem.innerHTML = newEmoji;
        }
        setInterval(changeEmoji, 60000);
    </script>
</body>
</html>
