<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Emoji Changer</title>
</head>
<body>
    <h1>Emoji Changer</h1>
    <h2 id="emoji">{{ emoji }}</h2>
    <button id="change-emoji">Change Emoji</button>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#change-emoji').click(function() {
                $.ajax({
                    url: '/get_emoji',
                    type: 'GET',
                    success: function(response) {
                        $('#emoji').text(response.emoji);
                    }
                });
            });
            setInterval(function() {
                $.ajax({
                    url: '/get_emoji',
                    type: 'GET',
                    success: function(response) {
                        $('#emoji').text(response.emoji);
                    }
                });
            }, 6000);
        });
    </script>
</body>
</html>
